form label {
    display: block;
    font-size: 1rem;
}

form input {
    display: block;
    margin: 1rem auto;
    padding: 0.425rem;
    width: 100%;
    font-family: 'Courier', sans-serif;
    font-size: 1rem;
}

form input:focus {
    outline: none;
    /* outline-color: blue; */
}