.card {
    box-shadow: 0 0 1.25rem 0.125rem #666;
    display: none;
    max-width: 90vw;
    margin: 0 auto;
    position: relative;
}

.card.open {
    display: block;
}

.card.close {
    display: none;
}

.card .time {
    width: 100%;
    display: block;
}

.card .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .icon img {
    background: #E6E6FA;
    border-radius: 50%;
    position: absolute;
    top: -6.25rem;
    width: 5rem;
}

.card .details {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    top: 0;
}

.card .details h2 {
    font-family: 'Titan One', cursive;
    font-weight: normal;
}

.card .details h2, .condition {
    padding: 0.313rem 0;
}

.card .details .condition {
    font-weight: 400;
}

.card .details .temp {
    font-size: 2rem;
    /* font-weight: 400; */
    padding: 0.313rem 0 0;
}

.night-text {
    color: #fff;
} 