.card {
    box-shadow: 0px 1px 20px 3px #777;
}

.time {
    display: block; 
    width: 100%;
}

.details {
   padding: 1.25rem;
}

.details, h4, .condition, .temp {
    padding: 5px;
}

.temp {
    font-size: 2rem;
}