.wrapper {
    max-width: 50rem;
    text-align: center;
    padding: 1rem;
    /* background: pink; */
}

.wrapper h1 {
    padding: 0 0 1rem;
    letter-spacing: 0.1rem;
    font-family: 'Titan One';
    font-weight: 400;
}

.wrapper p {
    font-weight: 400;
    color: red;
}